<ion-header class="page-browse header">
  
  <ion-grid>
    
    <ion-row nowrap align-items-center="">
      <ion-col col-auto>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-col>
      
      <ion-col>
        <ion-searchbar [placeholder]="Chercher" [autocomplete]="on" [autocorrect]="on" [animated]="true"
                       (search)="filterOnText($event)" *ngIf="isSearchVisible()">
        </ion-searchbar>
        
        <div *ngIf="!isSearchVisible()" (click)="showSearchBar()">
          <ion-title wrap>{{ filterSet.toMessage() }}</ion-title>
          <ion-note style="color: black; padding-left: 15px;">{{numberOfLots()}} crus / {{numberOfBottles()}}
            bouteilles
          </ion-note>
        </div>
      </ion-col>
      
      <img src="assets/icon/primary-logout.png" icon-only (click)="logout()"
           class="action-image toolbar-background-md"/>
    </ion-row>
  
  </ion-grid>

</ion-header>

<ion-menu class="page-browse" [content]="content" id="menu-components">
  
  <page-filter [bottles]="bottles"></page-filter>

</ion-menu>

<ion-content class="page-browse page">
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
  <ion-list sliding="true" class="bottle-page" [virtualScroll]="bottles" #bottleList >
    <div *virtualItem="let bottle" style="width: 100%">
      <bottle-list [bottle]="bottle" (showDetail)="triggerDetail($event)"></bottle-list>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <ion-fab bottom right *ngIf="anyBottleSelected()">
    <button ion-fab>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="placeSelection()" style="background-color: #ebeced">
        <ion-icon name="apps"></ion-icon>
      </button>
      <button ion-fab (click)="locateSelection()" style="background-color: #ebeced">
        <ion-icon name="pin"></ion-icon>
      </button>
      <button ion-fab (click)="registerSelectionAsFavorite()" style="background-color: #ebeced">
        <ion-icon name="star" style="color: yellow"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
