.page-browse {
  ion-col > button {
    margin-top: 10px;
  }

  .menutoggle {
    margin-left: 0;
    margin-right: 0;
  }

  .ion-page .page-browse > div.scroll-content {
    color: black;
    margin-top: 108px;
  }

  ion-title {
    color: black;
    margin-bottom: 5px;
    width: 220px;
  }

  .filter {
    color: black;
  }
}

