.page-browse {
  ion-col > button {
    margin-top: 10px;
  }

  .ion-page .page-browse > div.scroll-content {
      margin-top: 108px;
  }

  ion-title {
    margin-bottom: 5px;
  }

  .filter {
    color: black;
  }
}

