page-about {
  display: flex;

  div {
    height: 100%;
  }

  img {
    margin-top: 30px;
  }

  p {
    color: blue;
  }

  h2 {
    border: thin solid black;
    background: rgba(255, 255, 255, .9);
    border-radius: 5px;
    padding: 3px;
  }

  ion-title > div.toolbar-title {
    white-space: normal;
  }
}
