<ion-row *ngIf="loadingInProgress">
  <progress-bar *ngIf="loadingInProgress" [progress]="progress" [thickness]="'1px'"
                [showPercentage]="false" class="flex-grow"></progress-bar>
</ion-row>

<ion-row *ngIf="!loadingInProgress">
  <ion-col hideWhen="!cordova" d-flex style="justify-content: space-between">
    <button ion-button round icon-only padding-vertical (click)="captureProfileImage()">
      <cav-icon name="camera"></cav-icon>
    </button>
    <button ion-button round icon-only padding-vertical (click)="chooseProfileImage()">
      <cav-icon name="folder-open"></cav-icon>
    </button>
    <button ion-button round icon-only padding-vertical (click)="removeProfileImage()">
      <cav-icon name="trash"></cav-icon>
    </button>
  </ion-col>
</ion-row>
