.page-bottle-detail {

  ion-fab[bottom] {
    bottom: 50px;
  }

  div.slide-content {
    background: darken(#fff, 12%);
    overflow-y: scroll;
    height: 100%;
  }

  .swiper-slide img.contain {
    object-fit: contain;
  }

  ion-slide.swiper-slide {
    align-items: initial;
  }

}
