<div class="rating input" *ngIf="labels">
  <h5>{{ title | translate }}:<span *ngIf="note!==undefined">{{labels[note]}}</span></h5>
  
  <div class="stars form-group">
    <span *ngFor="let x of labels;let ix=index" [class.lighten]="ix <= note" (click)="rate(ix)">
      <cav-icon name="star"></cav-icon>
    </span>
  </div>
</div>

<div class="rating output" *ngIf="! labels">
  <div class="stars">
    <div>{{rating.label}}:</div>
    <span *ngFor="let x of noteArray;let ix=index" [class.lighten]="ix <= note">
      <cav-icon name="star"></cav-icon>
    </span>
  </div>
</div>
