.rating {
  display: block;
  width: 100%;

  span {
    flex-grow: 1;
    text-align: center;
    &.lighten {
      color: yellow;
    }
  }

  &.input {
    .stars {
      display: flex;
      margin: 10px 0 0 0;
      font-size: 1.8rem;
      padding: 5px;
      background-color: lightgrey;
    }
  }

  &.output {
    margin-top: 3px;
    margin-top: 3px;

    i.fa {
      font-size: .9rem;
    }
  }

}
