<!-- Generated template for the LockerEditorComponent component -->
<ion-header class="locker-editor2-page" (click)="test()">
  
  <ion-navbar>
    <ion-title>{{'locker-editor.title' | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="locker-editor2-page">
  
  <ion-fab middle center>
    <button ion-fab mini>
      <ion-icon name="create"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="removeTopRow()">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
      <button ion-fab (click)="addTopRow()">
        <ion-icon name="arrow-dropup"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="right">
      <button ion-fab (click)="removeRightColumn()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
      <button ion-fab (click)="addRightColumn()">
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <button ion-fab (click)="removeBottomRow()">
        <ion-icon name="arrow-dropup"></ion-icon>
      </button>
      <button ion-fab (click)="addBottomRow()">
        <ion-icon name="arrow-dropdown"></ion-icon>
      </button>
    </ion-fab-list>
    <ion-fab-list side="left">
      <button ion-fab (click)="removeLeftColumn()">
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
      <button ion-fab (click)="addLeftColumn()">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-row>
    <locker #lockerCmp [locker]="locker" [content]="lockerContent" [size]="0" *ngIf="!locker.isFridge()"
            (selected)="cellSelected($event)"></locker>
    <fridge-locker #lockerCmp [fridge]="locker" [content]="lockerContent" [size]="0" *ngIf="locker.isFridge()"
                   (selected)="cellSelected($event)"></fridge-locker>
  </ion-row>

</ion-content>

<ion-footer text-right padding-horizontal>
  <button ion-button (click)="saveLocker()">Save</button>
</ion-footer>
