<ion-item-sliding (click)="triggerDetail(withdrawal)" class="withdrawal-item" #item>
  <ion-item>
    <ion-row>
      <ion-col col-2 style="padding-right:10px;">
        <ion-avatar item-start (click)="switchSelected($event, withdrawal)" class="text-align">
          <img src="{{ withdrawal | bottleIcon }}" class="overridable logo">
          <img src="assets/icon/starred.png" *ngIf="isBottleFavorite(withdrawal)" class="overridable logo">
          <img src="assets/icon/alert-status.png" *ngIf="withdrawal.overdue" class="overridable logo">
        </ion-avatar>
      </ion-col>
      <ion-col col-10 text-wrap>
        <h4 class="label">{{ withdrawal.nomCru }}</h4>
        <ion-note>{{withdrawal.area_label}} ({{withdrawal.millesime}})</ion-note>
        <div *ngIf="withdrawal.notation">
          <ion-badge item-right class="compact">
            <rating [rating]="withdrawal.notation.quality"></rating>
          </ion-badge>
          <span>{{withdrawal.notation.maturity.label}}, {{withdrawal.notation.pleasurePrice.label}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-item>

</ion-item-sliding>
