.withdrawal-item {

  h4.label {
    display: inline;
  }

  ion-badge.compact {
    margin: 3px 0 3px 0;
  }

  ion-label {
    margin-bottom: 0;
    margin-top: 0;
  }

  ion-avatar {
    margin-left: 5px;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 5px;
      border-radius: 0;
    }
  }

  ion-col {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
