
.cav-mail:before { content: '\e800'; } /* '' */
.cav-heart:before { content: '\e801'; } /* '' */
.cav-heart-empty:before { content: '\e802'; } /* '' */
.cav-star:before { content: '\e803'; } /* '' */
.cav-star-empty:before { content: '\e804'; } /* '' */
.cav-search:before { content: '\e805'; } /* '' */
.cav-home:before { content: '\e806'; } /* '' */
.cav-camera:before { content: '\e807'; } /* '' */
.cav-trash-empty:before { content: '\e808'; } /* '' */
.cav-zoom-in:before { content: '\e809'; } /* '' */
.cav-zoom-out:before { content: '\e80a'; } /* '' */
.cav-clock:before { content: '\e80b'; } /* '' */
.cav-refresh:before { content: '\e80c'; } /* '' */
.cav-down-open:before { content: '\e80d'; } /* '' */
.cav-left-open:before { content: '\e80e'; } /* '' */
.cav-right-open:before { content: '\e80f'; } /* '' */
.cav-up-open:before { content: '\e810'; } /* '' */
.cav-apps:before { content: '\e811'; } /* '' */
.cav-mail-alt:before { content: '\f0e0'; } /* '' */
.cav-smile:before { content: '\f118'; } /* '' */
.cav-sad:before { content: '\f119'; } /* '' */
.cav-neutral:before { content: '\f11a'; } /* '' */
.cav-sort-alt-up:before { content: '\f160'; } /* '' */
.cav-sort-alt-down:before { content: '\f161'; } /* '' */
.cav-history:before { content: '\f1da'; } /* '' */
.cav-sliders:before { content: '\f1de'; } /* '' */
.cav-trash:before { content: '\f1f8'; } /* '' */
.cav-hourglass-2:before { content: '\f252'; } /* '' */
.cav-hourglass-3:before { content: '\f253'; } /* '' */
.cav-hourglass:before { content: '\f254'; } /* '' */
.cav-facebook-rect:before { content: '\f301'; } /* '' */
.cav-twitter-bird:before { content: '\f303'; } /* '' */
