page-dashboard {

  .by-label canvas {
    height: 25vh !important;
    //width: 100% !important;
  }

  .by-region canvas {
    height: 35vh !important;
    //width: 100% !important;
  }

  button[badge] {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  div[d-flex] {
    display: flex;
    justify-content: space-around;
  }
}
