page-dashboard {

  .by-label canvas {
    height: 25vh !important;
    //width: 100% !important;
  }

  .by-region canvas {
    height: 35vh !important;
    //width: 100% !important;
  }

  button[badge] {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  div[d-flex] {
    display: flex;
    justify-content: space-around;
  }

  .recent-withdrawal {
    withdrawal-item:nth-child(2n) > ion-item-sliding > ion-item {
      background-color: lighten(#ebebeb, 4%);

      ion-item {
        background-color: inherit;
      }
    }

    withdrawal-item:nth-child(2n+1) > ion-item-sliding > ion-item {
      background-color: white;
    }
  }

}
