<ion-header class="flex-container header">
  <ion-searchbar [placeholder]="Chercher" [autocomplete]="on" [autocorrect]="on" [animated]="true"
                 (search)="filterOnText($event)">
  </ion-searchbar>
  <div class="icon logout" (click)="logout()"></div>
</ion-header>

<ion-content align-items-center class="page">
  
  <ion-card class="card-background" *ngIf="bottles">
    <button ion-button outline small round icon-left (click)="showAll()">
      <ion-icon name="search"></ion-icon>
      {{'dashboard.see-all' | translate: {nb: totalNumberOfBottles} }}
    </button>
    
    <button ion-button outline small round icon-left (click)="showFavorites()">
      <ion-icon name="star"></ion-icon>
      {{'filter.favorite-only' | translate}}
    </button>
    
    <button ion-button outline small round icon-left (click)="showOverdue()">
      <ion-icon name="alert"></ion-icon>
      {{'filter.overdue-only' | translate}}
    </button>
    
    <button ion-button outline small round (click)="showPopover()" *ngIf="mostUsedQueries">
      <span style="margin-right: 7px" class="fa fa-history"></span>
      Fréquentes
    </button>
    <ion-segment-button></ion-segment-button>
  </ion-card>
  
  <ion-card class="card-background recent-withdrawal" *ngIf="withdrawals.length > 0">
    <ion-scroll scrollY="true" [ngStyle]="withdrawalCardStyle">
      <ion-title>{{'record-output.recent-withdrawals'| translate}}</ion-title>
      <ion-list sliding="false">
        <withdrawal-item [withdrawal]="withdraw" (showDetail)="triggerNotation($event)"
                         *ngFor="let withdraw of withdrawals"></withdrawal-item>
      </ion-list>
    </ion-scroll>
  </ion-card>
  
  <ion-card class="card-background by-label">
    <ion-title>{{'statistics.repartition-par-type'| translate}}</ion-title>
    <statistics [type]="'bar'" [axis]="'label'" [topMost]="10" [legend]="'none'"
                (filterApplied)="showFiltered($event)"></statistics>
  </ion-card>
  
  <ion-card class="card-background by-region">
    <ion-title>{{'statistics.repartition-par-region'| translate}}</ion-title>
    <statistics [type]="'bar'" [axis]="'subregion_label'" [topMost]="7" [legend]="'none'"
                (filterApplied)="showFiltered($event)"></statistics>
  </ion-card>

</ion-content>

<ion-footer text-right padding-horizontal>version {{version}}</ion-footer>
