color-chooser-component .color-chooser-component {

  display: flex;
  flex-direction: row;
  //border: thin solid red;
  height: 27px;
  width: 100%;

  div {
    height: 27px;
    width: 27px;

    &.red {
      background: no-repeat url('/assets/img/bottle-color/bouteille-rouge.png');
      background-size: 25px 25px;
    }

    &.white {
      background: no-repeat url('/assets/img/bottle-color/bouteille-blanc.png');
      background-size: 25px 25px;
    }

    &.bubbles {
      background: no-repeat url('/assets/img/bottle-color/bouteille-bulles.png');
      background-size: 25px 25px;
    }

    &.yellow {
      background: no-repeat url('/assets/img/bottle-color/bouteille-jaune.png');
      background-size: 25px 25px;
    }

    &.liquorous {
      background: no-repeat url('/assets/img/bottle-color/bouteille-liquoreux.png');
      background-size: 25px 25px;
    }

    &.rose {
      background: no-repeat url('/assets/img/bottle-color/bouteille-rose.png');
      background-size: 25px 25px;
    }
  }
}
