<ion-row *ngIf="loadingInProgress">
  <progress-bar *ngIf="loadingInProgress" [progress]="progress" [thickness]="'1px'"
                [showPercentage]="false" class="flex-grow"></progress-bar>
</ion-row>

<ion-row *ngIf="!loadingInProgress">
  <ion-col d-flex style="justify-content: space-between">
    
    <div d-flex>
      <input type="file" id="cameraSelector" accept="image/*" capture="camera" style="display:none"/>
      <label for="cameraSelector">
        <ion-icon name="camera" (click)="toggleCapture()"></ion-icon>
        <span>photo</span>
      </label>
    </div>
    
    <div d-flex>
      <input type="file" id="fileSelector" class="inputfile inputfile-4"
             data-multiple-caption="{count} files selected" multiple=""
             (change)="readBrowserFile($event)" style="display:none">
      <label for="fileSelector">
        <ion-icon name="folder"></ion-icon>
        <span>choisir</span></label>
    </div>
    
    <button ion-button round icon-only padding-vertical (click)="removeProfileImage()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-col>
</ion-row>

<ion-row [ngStyle]="capturing ? {} : {'display': 'none'}">
  <video #video autoplay (click)="snapshot()"></video>
  <canvas #canvas></canvas>
</ion-row>
