.bottle-page {

  ion-label {
    margin-bottom: 0;
    margin-top: 0;
  }

  button[ion-button] img {
    border-radius: 50%;
    border: thin solid black;
    background-color: white;
    width: 45px;
    height: 45px;
  }

  ion-avatar {
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 0;
    }
  }

  ion-item-sliding:nth-child(2n) {
    background-color: lighten(#ebebeb, 4%);

    button {
      background-color: lighten(#ebebeb, 4%);
    }

    ion-item {
      background-color: inherit;
    }
  }

  ion-item-sliding:nth-child(2n+1) {
    background-color: white;

    button {
      background-color: white;
    }
  }

  .selected-logo {
    border: thin solid green;
    border-radius: 40% 40%;
  }
}
