<ion-list sliding="true" class="bottle-page">
  
  <ion-item-sliding #item *ngFor="let bottle of bottles; let ix=index">
    <ion-item>
      <ion-avatar item-start>
        <img src="{{ bottle.label | bottleIcon }}" class="logo" [class.selected-logo]="isBottleInBasket(bottle)">
      </ion-avatar>
      <h4 class="label">{{ bottle.nomCru }}</h4>
      <ion-note>{{bottle.area_label}} ({{bottle.millesime}})</ion-note>
      <ion-icon item-end name="arrow-dropright" (click)="triggerDetail(bottle,ix)"></ion-icon>
    </ion-item>
    
    <ion-item-options side="left">
      <button ion-button icon-left (click)="favorite(item)">
        <ion-icon name="star"></ion-icon>
      </button>
      
      <button ion-button (click)="drawBottle(item)">
        <img src="assets/icon/tire-bouchon.png">
      </button>
    </ion-item-options>
    
    <ion-item-options side="right">
      <button ion-button (click)="addToBasketOrRemove($event, item, bottle)">
        <img src="assets/icon/basket-green.png" *ngIf="isBottleInBasket(bottle)">
        <img src="assets/icon/basket.png" *ngIf="! isBottleInBasket(bottle)">
      </button>
    </ion-item-options>
  
  </ion-item-sliding>


</ion-list>
