page-dashboard {

    .by-label canvas {
      height: 25vh !important;
      width: 100% !important;
    }

    .by-region canvas {
      height: 35vh !important;
      width: 100% !important;
    }

    button[badge] {
      height:60px;
      width:60px;
      border-radius: 50%;
    }

    div[d-flex] {
      display: flex;
      justify-content: space-around;
    }

    img {
      height: 30vh;
      opacity: 1;
      padding-botton: 5px;

      &[icon-only] {
        width: 35px;
        height: 35px;
        margin: 8px 8px 8px 0;
        align-self: center;
      }
    }

    .card-background {
      background-color: rgba(255, 255, 255, .8);
    }
}
