<ion-header style="display: flex" class="page-dashboard header">
  <ion-searchbar [placeholder]="Chercher" [autocomplete]="on" [autocorrect]="on" [animated]="true"
                 (search)="filterOnText($event)">
  </ion-searchbar>
  <img src="assets/icon/primary-logout.png" icon-only (click)="logout()"/>
</ion-header>

<ion-content align-items-center class="page-dashboard card-background-page page">
  
  <ion-card class="card-background" *ngIf="bottles">
    <ion-item>
      <span>{{totalNumberOfBottles}}</span>
      <label>{{'bottles' | translate}}</label>
    </ion-item>
    <button ion-button outline small round icon-left (click)="showFavorites()">
      <ion-icon name="star"></ion-icon>
      Favorites
    </button>
    
    <button ion-button outline small round (click)="showPopover()" *ngIf="mostUsedQueries">
      <span style="margin-right: 7px" class="fa fa-history"></span>
      Fréquentes
    </button>
    <ion-segment-button></ion-segment-button>
  </ion-card>
  
  <ion-card class="card-background by-label">
    <ion-title>{{'statistics.repartition-par-type'| translate}}</ion-title>
    <statistics [type]="'bar'" [axis]="'label'" [topMost]="10" [legend]="'none'"
                (filterApplied)="browse($event)"></statistics>
  </ion-card>
  
  <ion-card class="card-background by-region">
    <ion-title>{{'statistics.repartition-par-region'| translate}}</ion-title>
    <statistics [type]="'bar'" [axis]="'subregion_label'" [topMost]="7" [legend]="'none'"
                (filterApplied)="browse($event)"></statistics>
  </ion-card>

</ion-content>

<ion-footer text-right padding-horizontal>version {{version}}</ion-footer>
