@import '../../gradient-mixins';
@import "./variables";

.tabs-ios .tab-button {
  &[aria-selected=true] {
    .tab-button-icon {
      color: $tabs-ios-tab-icon-color-active;
    }

    .tab-button-text {
      color: $tabs-ios-tab-text-color-active;
    }
  }
  &[aria-selected=false] {
    .tab-button-icon {
      color: $tabs-ios-tab-icon-color;
    }

    .tab-button-text {
      color: $tabs-ios-tab-text-color;
    }
  }
}
