@import '../../gradient-mixins';

.cavus-theme {
  @import "./variables";
  @import "./md";

  .checkbox-checked {
    border-color: map-get($colors-cavus, buttonBackground);
    background-color: map-get($colors-cavus, buttonBackground);
  }

  ion-avatar ion-icon {
    color: map-get($colors-cavus, primary);
  }

  button[ion-fab],
  button[menuToggle],
  ion-item-sliding button[ion-button] ion-icon {
    background-color: map-get($colors-cavus, buttonBackground);
    color: map-get($colors-cavus, light);
  }

  ion-item-sliding button[ion-button] {
    background-color: transparent;
    color: map-get($colors-cavus, light);
  }

  .mod-navbar {
    .reminder > ion-note {
      color: white;
    }
    .searchbar-clear-icon {
      background-color: transparent;
    }
  }

  .mod-header {
    background-color: map-get($colors-cavus, primary);

    ion-header {
      border-bottom: medium solid #fff;
    }

    ion-searchbar {
      background: transparent;
    }

    ion-icon {
      color: $toolbar-background;
    }

    ion-header ion-note {
      color: $toolbar-background;
    }

    .searchbar-input-container {
      background: rgba(255, 255, 255, $white-transparency);
    }

    .toolbar-background {
      background: transparent;
    }

    .toolbar-title {
      color: white;
    }

    ion-tabs {
      ion-icon.tab-button-icon {
        color: map-get($colors-cavus, primary);
      }
    }
  }

  .page {
    //background: map-get($colors-cavus, primary);
    background: linear-gradient(to bottom, $cavus-gradient);

    .card-background {
      background: rgba(255, 255, 255, .88);
    }
  }

  .button,
  ion-badge {
    background-color: map-get($colors-cavus, primary);
    border: thin solid #fff;
    color: #fff;
  }
}
