<!--
  Generated template for the UploadBottles page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <ion-title>upload-bottles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <div>
    <ion-row>
      <ion-col col-3>
        <label for="from">from:</label>
      </ion-col>
      <ion-col col-6>
        <input id="from" type="text" [(ngModel)]="from">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <label for="nbRead">nbRead:</label>
      </ion-col>
      <ion-col col-6>
        <input id="nbRead" type="text" [(ngModel)]="nbRead">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <label for="viewNb">viewNb:</label>
      </ion-col>
      <ion-col col-6>
        <input id="viewNb" type="text" [(ngModel)]="viewNb">
      </ion-col>
    </ion-row>
    <button ion-button align-items-start round icon-only block (click)="chooseFile()">
      <ion-icon name="cloud-upload"></ion-icon>
      Importer CSV
    </button>
  </div>
  <button ion-button align-items-start round icon-only block (click)="parseEmbeddedFile()">
    <ion-icon name="cloud-upload"></ion-icon>
    Importer essai
  </button>
  <button ion-button align-items-start round icon-only block (click)="saveBottles()">
    <ion-icon name="folder"></ion-icon>
    Effacer DB et importer
  </button>
  
  <ion-item-divider></ion-item-divider>
  
  <button ion-button align-items-start round icon-only block (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
    Prendre une photo
  </button>
  
  <ion-item-divider></ion-item-divider>
  
  <button ion-button align-items-start round icon-only block (click)="cavus()">
    <ion-icon name="camera"></ion-icon>
    Download from Cavus
  </button>
  
  <ion-item-divider></ion-item-divider>
  
  <button ion-button align-items-start round icon-only block (click)="scan()">
    <ion-icon name="qr-scanner"></ion-icon>
    Scanner QR-code
  </button>
  <h3>qrCode: {{qrCodeText}}</h3>
  <ion-slides style="height: 50vh">
    <ion-slide *ngFor="let image of images">
      <ion-card>
        <img [src]="image.src"/>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
