@import url('../../theme/variables.scss');

ion-header.home {
  background-color: #FFFFFF;
  border: thin solid map-get($colors, light);

  & > ion-title {
    text-align: center;
  }
}

ion-content.home {

  div.login {
    background: transparentize(map-get($colors, light), .3);
    margin-top: 70%;
  }

  legend {
    color: map-get($colors, light);
    font-size: 2em;
    background: transparent;
  }

  button[badge] {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: map-get($colors, light);
    color: map-get($colors, primary);
  }

  div[d-flex] {
    align-self: center;
    display: flex;
    justify-content: space-around;
  }
}
