@import url('../../theme/variables.scss');

.home {

  img.welcome-image {
    background-color: white;
    border: thin solid black;
    padding: 5px;
    margin: 10px;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 30px;
  }

  div.scroll-content {
    flex-direction: row;
    justify-content: flex-end;
  }

  button[badge] {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: lighten(map-get($colors, primary), .2);
  }

  div[d-flex] {
    align-self: center;
    display: flex;
    justify-content: space-around;
  }
}
