<ion-header class="home header">
  <ion-title><h2>{{'app.title' | translate}}</h2></ion-title>
</ion-header>

<ion-content align-items-center class="home card-background-page page">
  
  <div class="login">
    <fieldset>
      <legend><h2>{{'app.please-login' | translate}}</h2></legend>
      <div d-flex>
        <button ion-button badge [class.clicked]="fbidentifying" (click)="facebookLogin()" *ngIf="isConnectionAllowed()">
          <img icon-only src="assets/icon/social_facebook_box_blue.png"/>
        </button>
        <button ion-button badge [class.clicked]="mailidentifying" (click)="emailLogin()" *ngIf="isConnectionAllowed()">
          <ion-icon name="mail" style="font-size: 2.4em;"></ion-icon>
        </button>
        <button ion-button badge [class.clicked]="anoidentifying" (click)="anonymousLogin()"
                *ngIf="isConnectionAllowed()">
          <img icon-only src="assets/icon/anonymous.png"/>
        </button>
        <button ion-button badge [class.clicked]="anoidentifying" (click)="googleLogin()"
                *ngIf="isConnectionAllowed()">
          <img icon-only src="assets/icon/google-login.png"/>
        </button>
        <!--<button ion-button badge [class.clicked]="locidentifying" (click)="localLogin()">-->
          <!--<ion-icon name="phone-portrait"></ion-icon>-->
        <!--</button>-->
      </div>
    </fieldset>
  
    <!--<fieldset>-->
      <!--<legend><h2> {{'app.connection' | translate}}</h2></legend>-->
      <!--<div d-flex>-->
        <!--<ion-list radio-group>-->
          <!--<ion-item>-->
            <!--<ion-label color="dark">{{'app.connection-on' | translate}}</ion-label>-->
            <!--<ion-radio value="on" checked (click)="connectionAllowed()"></ion-radio>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<ion-label color="dark">{{'app.connection-off' | translate}}</ion-label>-->
            <!--<ion-radio value="off" (click)="connectionDisallowed()"></ion-radio>-->
          <!--</ion-item>-->
        <!--</ion-list>-->
      <!---->
        <!--<ion-list radio-group>-->
          <!--<ion-item>-->
            <!--<ion-label color="dark">debug</ion-label>-->
            <!--<ion-radio (click)="setDebugMode(true)"></ion-radio>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<ion-label color="dark">sans debug</ion-label>-->
            <!--<ion-radio checked (click)="setDebugMode(false)"></ion-radio>-->
          <!--</ion-item>-->
        <!--</ion-list>-->
      <!--</div>-->
    <!--</fieldset>-->
  </div>

</ion-content>

<ion-footer text-right padding-horizontal (click)="test()">version {{version}}</ion-footer>
