.browse-page {

  span.search-container {
    flex-grow: 1;
  }

  button[menutoggle] {
    margin-left: 10px;
    margin-right: 0;
    order: 0;
  }

  .back-button {
    margin-left: 0px;
    margin-right: 0;
    order: 1;
  }

}

