<ion-header class="mod-header browse-page">
  <button ion-fab mini menuToggle style="display: inline !important;" class="ripple">
    <cav-icon name="menu"></cav-icon>
  </button>
  <span class="search-container">
    <search-bar right [filterSet]="filterSet$ | async" [nbBottles]="nbOfBottles" [nbCrus]="nbOfLots"
                (change)="filterOnText($event)">
    </search-bar>
  </span>
</ion-header>

<ion-menu class="browse-page" [content]="content" id="menu-components" type="overlay">
  <page-filter></page-filter>
</ion-menu>

<ion-content class="browse-page page mod-content">
  <responsive-wrapper>
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
    <ion-list sliding="true" class="bottle-page" #bottleList>
      <ng-container *ngIf="bottleStates$ | async as bottleStates">
        <div *ngFor="let bottleState of bottleStates" style="width: 100%">
          <bottle-item *ngIf="standardListItem; else largeItem"
                       [bottle]="bottleState.bottle" (onShowDetail)="triggerDetail($event)"
                       [selected]="bottleState.selected"
                       (onSelected)="toggleSelected($event)"></bottle-item>
          <ng-template #largeItem>
            <bottle-item-large
              [bottle]="bottleState.bottle" (onShowDetail)="triggerDetail($event)"
              [selected]="bottleState.selected"
              (onSelected)="toggleSelected($event)"></bottle-item-large>
          </ng-template>
        </div>
      </ng-container>
    </ion-list>
  </responsive-wrapper>
</ion-content>

<ion-fab #fab class="browse-page" bottom right *ngIf="anyBottleSelected()">
  <button ion-fab class="ripple">
    <cav-icon name="menu"></cav-icon>
  </button>
  <ion-fab-list side="top">
    <button ion-fab (click)="placeSelection()" class="ripple">
      <cav-icon name="apps" large></cav-icon>
    </button>
    <button ion-fab (click)="locateSelection()" class="ripple">
      <cav-icon name="location" large></cav-icon>
    </button>
    <button ion-fab (click)="registerSelectionAsFavorite()" class="ripple">
      <cav-icon name="star" style="color: #FFC125" large></cav-icon>
    </button>
  </ion-fab-list>
</ion-fab>
