.browse-page {
  ion-fab[top] {
    top: 0;
  }

  div.report {
    background-color: transparent;
    color: #0c60ee;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    z-index: 9;
  }

  .bottle {
    background-color: #e9e9e9;
    border-top: thin solid $black;
    opacity: .9;

    h4 {
      background-color: $header-color;
      border-bottom: thin solid $gray;
      padding: $pad-size;
    }

    p {
      padding-left: $pad-size;
    }
  }

  .wrapper {
    display: inline-block;
    left: 10px;
    padding: 7px;
    width: 80%;
    position: fixed;
  }

  .popover {
    background-color: beige;
    border-radius: 5px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.8);
    opacity: 1;
    z-index: 999;
  }
}
