// http://ionicframework.com/docs/v2/theming/
//@import "../theme/variables.scss";
@import "scss/base";
@import "scss/layout";
@import "scss/module";
@import "scss/state";
@import "scss/themes/index";
@import "scss/cav-icons";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/_variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$pad-size: 5px;
$gray: #808080;
$odd-row: #ebeced;
$black: #000;
$header-color: rgba(76, 158, 217, .8);
$header-color2: rgba(51, 51, 51, .8);
$favorite-color: #ff0;
$even-rows-background-color: lighten(#ebebeb, 4%);
$odd-rows-background-color: #fff;
$background-page-image: url('../assets/img/background/background2.jpeg');
$background-page-image-webp: url('../assets/img/background/background2.webp');
$white-transparency: .88;
$tabs-background: #f8f8f8 !default;

.firebaseui-card-content .firebaseui-idp-button:hover {
  box-shadow: 0px 0px 10px 3px darken(darkgrey, 50%);
}

// mise en forme
.webp .page {
  background: $background-page-image-webp;
}

.no-webp .page {
  background: $background-page-image;
}

.cav-icon[medium] {
  font-size: 1.2em !important;
}

.cav-icon[role='img'] {
  font-size: 1.5em !important;
}

.cav-icon[x-large] {
  font-size: 1.8em !important;
}

ion-content.card-background-page ion-col {
  padding: 0;
}

ion-navbar button.back-button {
  z-index: 300; // pour éviter que le search result ne gêne le clic
}

ion-content.page.content div.scroll-content {
  margin-top: 56px !important;
  margin-bottom: 9px !important;
}

ion-footer {
  background-color: rgba(255, 255, 255, 0.9);
  min-height: 46px;
  padding: 15px;
  z-index: 999;
}

ion-tabs > div.tabbar {
  background: $tabs-background;
  border-top: thin solid lightgray;
  min-height: 48px;
}

.header {
  align-items: center;
  opacity: .97;
  padding-right: 10px;
}

ion-sliding > ion-item {
  background: transparent !important;
}

.app-root ion-list > *:nth-child(2n) ion-item-sliding ion-item {
  background-color: lighten(#ebebeb, 4%);

  ion-item {
    background-color: inherit;
  }
}

.attention {
  height: 50px;
  width: 50px;
}

.app-root ion-list > *:nth-child(2n+1) ion-item-sliding ion-item {
  background-color: white;
}

.card-background {
  background-color: rgba(255, 255, 255, .8);
}

// helpers pour layout
.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-grow {
  flex-grow: 1;
}

.flex-rigid {
  flex-grow: 0;
}

.center {
  text-align: center;
}

// bouteilles
//toute icône  déclencheur d'une action a pour taille
$action-icon-width: 40px;
$action-icon-height: 40px;

// l'icône représentant une bouteille dans une liste a pour taille
$list-avatar-icon-width: 45px;
$list-avatar-icon-height: 45px;

div.icon {
  height: $action-icon-height;
  width: $action-icon-width;
}

// Toutes les bouteilles représentées sous forme d'icône sont positionnées comme suit
.icon-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

// action de logout
.logout {
  @extend .icon-image;

  background-image: url('../assets/icon/primary-logout.png');
}

.checkbox-checked {
  border-color: map-get($colors, primary);
  background-color: map-get($colors, primary);
}

// Selon le vin de la bouteille on a les couleurs (classe color) ou l'icône (classe icon)
.wine-bubbles {
  @extend .icon-image;

  &.color {
    color: beige;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/bubbles.png');
  }
}

.wine-bubbles-rose {
  @extend .icon-image;

  &.color {
    color: pink;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/bubbles-rose.png');
  }
}

.wine-cognac {
  @extend .icon-image;

  &.color {
    color: brown;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/cognac.png');
  }
}

.wine-liquorous {
  @extend .icon-image;

  &.color {
    color: goldenrod;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/liquorous.png');
  }
}

.wine-red {
  @extend .icon-image;

  &.color {
    color: brown;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/red.png');
  }
}

.wine-red-mutated {
  @extend .icon-image;

  &.color {
    color: brown;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/red-mutated.png');
  }
}

.wine-rose {
  @extend .icon-image;

  &.color {
    color: deeppink;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/rose.png');
  }
}

.wine-straw {
  @extend .icon-image;

  &.color {
    color: orange;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/straw.png');
  }
}

.wine-undefined {
  @extend .icon-image;

  &.color {
    color: #ebebeb;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/undefined.png');
  }
}

.wine-white {
  @extend .icon-image;

  &.color {
    color: cornsilk;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/white.png');
  }
}

.wine-white-halfdry {
  @extend .icon-image;

  &.color {
    color: cornsilk;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/white-halfdry.png');
  }
}

.wine-white-mutated {
  @extend .icon-image;

  &.color {
    color: burlywood;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/white-mutated.png');
  }
}

.wine-yellow {
  @extend .icon-image;

  &.color {
    color: gold;
  }
  &.icon {
    background-image: url('../assets/img/bottle-color/yellow.png');
  }
}
