<!--
  Generated template for the Distribution component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="distribution" *ngIf="opened && distribution">
  <div class="filterPanel">
    <h5 class="slide">{{count}} bouteilles trouvées</h5>
    
    <div *ngFor="let dimension of distribution">
      
      <div class="slide">
        <div class="axis">
          <h3>{{dimension.axis | translate}}</h3>
          <ion-badge item-left (click)="clearFilter(dimension.axis)"
                     class="reset" [class.active]="isFilteringOn(dimension.axis)">
            <ion-icon name="close" item-right></ion-icon>
          </ion-badge>
        </div>
        
        <ion-badge (click)="valueClicked($event, dimension.axis)" item-right *ngFor="let value of dimension.values"
        [class.selected]="isFilterSelected(dimension.axis, value.key)">
          {{value.key}}: {{value.value}}
        </ion-badge>
      </div>
    
    </div>
  
  </div>
</div>
