.distribution {
  margin-top: 60px;

  ion-card {
    padding: 5px;
  }

  ion-badge {
    margin-bottom: 5px;
    margin-right: 5px;
  }

  ion-chip {
    margin-right: 5px;
    padding-left: 7px;
    padding-right: 7px;
  }
}
