distribution {
  div {
    background: transparent;
    color: #FFF;

    h3 {
      color: black;
    }

    ion-badge {
      margin: 3px;
      box-shadow: 2px 2px 2px black;
      &:active {
        box-shadow: 0 0 0 black;
        transition: box-shadow 200ms;
      }
    }

    .slide {
      padding: 5px;
      background: darken(white,8%);
      border: thin solid dodgerblue;
      border-radius: 5px;
      width: 91vw;
      box-shadow: grey 7px 7px 11px 1px;
    }
  }
}
