<ion-card *ngFor="let dimension of distribution" class="distribution">

  <p (click)="switchDistribution(dimension)">
    <button *ngIf="isOpen(dimension.axis)" ion-button color="light" icon-only class="ripple">
      <cav-icon name="down-open"></cav-icon>
    </button>
    <button *ngIf="!isOpen(dimension.axis)" ion-button color="light" icon-only class="ripple">
      <cav-icon name='right-open'></cav-icon>
    </button>
    {{'bottle.'+dimension.axis| translate}}
  </p>
  <div *ngIf="isOpen(dimension.axis)">
    <ion-badge (click)="valueClicked($event, dimension.axis)" item-right *ngFor="let value of dimension.values"
               [class.selected]="isFilterSelected(dimension.axis, value.key)">
      {{value.key}}: {{value.value}}
    </ion-badge>
  </div>

</ion-card>
