<!-- Generated template for the LockerEditorComponent component -->
<ion-header class="mod-header update-locker-page" (click)="test()">
  
  <ion-navbar>
    <ion-title>{{locker.name}}
      <span *ngIf="isEditable">{{'update.edit-locker' | translate}}</span>
      <span *ngIf="!isEditable">{{'update.edit-racks' | translate}}</span>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="update-locker-page page">
  <ng-container *ngIf="lockerAndBottles$ | async as lockerAndBottles">
    <ion-fab middle center *ngIf="isEditable">
      <button ion-fab mini class="ripple">
        <cav-icon name="plus"></cav-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab (click)="lockerComponent.removeTopRow()" class="ripple">
          <cav-icon name="minus"></cav-icon>
        </button>
        <button ion-fab (click)="lockerComponent.addTopRow()" class="ripple">
          <cav-icon name="plus"></cav-icon>
        </button>
      </ion-fab-list>
      <ion-fab-list side="right">
        <button ion-fab (click)="lockerComponent.removeRightColumn()" class="ripple">
          <cav-icon name="minus"></cav-icon>
        </button>
        <button ion-fab (click)="lockerComponent.addRightColumn()" class="ripple">
          <cav-icon name="plus"></cav-icon>
        </button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="lockerComponent.removeBottomRow()" class="ripple">
          <cav-icon name="minus"></cav-icon>
        </button>
        <button ion-fab (click)="lockerComponent.addBottomRow()" class="ripple">
          <cav-icon name="plus"></cav-icon>
        </button>
      </ion-fab-list>
      <ion-fab-list side="left">
        <button ion-fab (click)="lockerComponent.removeLeftColumn()" class="ripple">
          <cav-icon name="minus"></cav-icon>
        </button>
        <button ion-fab (click)="lockerComponent.addLeftColumn()" class="ripple">
          <cav-icon name="plus"></cav-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
    
    <ion-fab middle center *ngIf="!isEditable">
      <button ion-fab mini class="ripple">
        <cav-icon name="plus"></cav-icon>
      </button>
      <ion-fab-list side="top">
        <button ion-fab (click)="lockerComponent.removeTopRack()" class="ripple">
          <cav-icon name="remove-circled"></cav-icon>
        </button>
        <button ion-fab (click)="lockerComponent.addTopRack()" class="ripple">
          <cav-icon name="plus-circled"></cav-icon>
        </button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <button ion-fab (click)="lockerComponent.removeBottomRack()" class="ripple">
          <cav-icon name="remove-circled"></cav-icon>
        </button>
        <button ion-fab (click)="lockerComponent.addBottomRack()" class="ripple">
          <cav-icon name="plus-circled"></cav-icon>
        </button>
      </ion-fab-list>
    </ion-fab>
    
    <ion-row *ngIf="!lockerAndBottles.locker.isFridge()">
      <locker #lockerCmp [locker]="lockerAndBottles.locker" [content]="lockerAndBottles.lockerContent" [editing]="true">
      </locker>
    </ion-row>
    
    <ion-row *ngIf="lockerAndBottles.locker.isFridge()">
      <fridge-locker #lockerCmp [fridge]="lockerAndBottles.locker" [content]="lockerAndBottles.lockerContent"
                     [selectable]="true" [editing]="true"
                     (onRacksSelected)="racksSelected($event)">
      </fridge-locker>
    </ion-row>
  </ng-container>
</ion-content>

<ion-footer text-right padding-horizontal>
  <button ion-button (click)="cancel()" class="ripple">{{'cancel'|translate}}</button>
  <button ion-button (click)="saveLocker()" class="ripple">{{'save'|translate}}</button>
</ion-footer>
