<!--
  Generated template for the BottleDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
  <ion-navbar>
    <ion-title>{{"bottle-detail" | translate}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  
  <div class="page-bottle-detail">
    <h4>{{bottle.nomCru}}</h4>
    <div class="bottle">
      <div class="icon" style="display: block">
        <img src="{{ bottle.label | bottleIcon }}">
        {{bottle.label}}
      </div>
      <div class="description">
        <p>{{bottle.country_label}}, {{bottle.subregion_label}}, {{bottle.area_label}}</p>
        <p>{{bottle.millesime}} ({{bottle.classe_age }})</p>
        <p>{{ "quantite_courante" | translate }}: {{ bottle.quantite_courante }} sur {{bottle
          .quantite_achat}}</p>
      </div>
    </div>
    <hr>
    <div>
      <p>{{ "date_achat" | translate }} {{ bottle.date_achat }}, {{ bottle.lieu_achat }}</p>
      <p>{{ "prix" | translate }} {{ bottle.prix }} € / {{ bottle.cote }} €</p>
      <p>{{ "garde" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }}  / {{ bottle.garde_max }} {{ "ans" | translate }}</p>
      <p>{{ "garde_optimum" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }}</p>
    </div>
    <hr>
    <div>
      <p *ngIf="!bottle.suggestion && ! bottle.comment">Aucune information complémentaire</p>
      <p *ngIf="bottle.suggestion">{{ "suggestion" | translate }}: {{bottle.suggestion}}</p>
      <p *ngIf="bottle.comment">{{ "comment" | translate }}: {{bottle.comment}}</p>
    </div>
  
  </div>

</ion-content>
