<div class="slide-bottle-detail">
  
  <ion-fab center edge (click)="update()">
    <button ion-fab mini>
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
  
  <div>
    <div class="block" style="display:flex">
      <div class="icon" style="text-align: left">
        <img src="{{ bottle.label | bottleIcon }}" class="contain profile-image" *ngIf="! bottle.profile_image_url">
        <img [src]="bottle.profile_image_url" [defaultImage]="bottle" class="contain profile-image"
             *ngIf="bottle.profile_image_url">
      </div>
    </div>
    <div class="description">
      <ul class="circle">
        <li>{{bottle.label}}</li>
        <li>{{bottle.country_label}}, {{bottle.subregion_label}}, {{bottle.area_label}}</li>
        <li>{{bottle.classe_age }} ({{bottle.millesime}})</li>
        <li>{{ "bottle.quantite_courante" | translate }}: {{ bottle.quantite_courante }} sur {{bottle
          .quantite_achat}}
        </li>
      </ul>
    </div>
  </div>
  <!---->
  <!--<ion-slides #imgslides [pager]="true" [speed]="100" style="height: 40vh" *ngIf="bottle.image_urls"-->
              <!--(ionSlideDidChange)="imageChanged($event)" (ionSlideWillChange)="imageWillChange($event)"-->
              <!--[effect]="cube">-->
    <!--<ion-slide *ngFor="let url of bottle.image_urls">-->
      <!--<ion-card style="max-height: 100%">-->
        <!--<img [defaultImage]="bottle" [src]="url" style="max-width: 45%; margin-right: auto; margin-left: auto;"/>-->
      <!--</ion-card>-->
    <!--</ion-slide>-->
  <!--</ion-slides>-->
  
  <h4>{{"bottle.details" | translate}}</h4>
  <div class="block">
    <ul class="circle">
      <li>{{ "bottle.date_achat" | translate }} {{ bottle.date_achat }}, {{ bottle.lieu_achat }}</li>
      <li>{{ "bottle.prix" | translate }} {{ bottle.prix }} € / {{ bottle.cote }} €</li>
      <li>{{ "bottle.garde" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }} / {{ bottle.garde_max }} {{
        "ans"
        | translate }}
      </li>
      <li>{{ "bottle.garde_optimum" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }}</li>
    </ul>
  </div>
  
  <h4>{{"infos" | translate}}</h4>
  <div>
    <p *ngIf="!bottle.suggestion && ! bottle.comment">Aucune information complémentaire</p>
    <p *ngIf="bottle.suggestion">{{ "bottle.suggestion" | translate }}: {{bottle.suggestion}}</p>
    <p *ngIf="bottle.comment">{{ "bottle.comment" | translate }}: {{bottle.comment}}</p>
  </div>

</div>
