.slide-bottle-detail {
  position: relative;

  img.profile-image {
    height: 100%;
    width: 100%;
  }

  div.block {
    margin-bottom: 10px;
  }

  h4, p {
    padding: 3px 3px 3px 15px;
  }

  h4 {
    margin: 15px 0 0 0;
  }

  p, li {
    margin: 3px 0;
    text-align: left;
  }

  ul.circle {
    list-style: circle;
    margin: 0;
  }

  h4 {
    background: #3d39ff;
    color: #FFF;
    border: thin solid #fff;
  }

  div.bottle {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
  }

  div.icon {
    max-width: 45vw;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
