.slide-bottle-detail {
  position: relative;;

  div.index {
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 50%;
    color: #3d39ff;
    height: 25px;
    min-width: 25px;
    padding: 1px;
    border: thin solid black;
  }

  div.update {
    position: absolute;
    top: 33px;
    right: 7px;
    border-radius: 50%;
    background: #3d39ff;
    color: #fff;
    height: 31px;
    min-width: 31px;
    padding: 1px;
    border: thin solid white;
  }

  div.block {
    margin-bottom: 10px;
  }

  h4, p {
    padding: 3px 3px 3px 15px;
  }

  h4 {
    margin: 15px 0 0 0;
  }

  p, li {
    margin: 3px 0;
    text-align: left;
  }

  ul.circle {
    list-style: circle;
    margin: 0;
  }

  h4 {
    background: #3d39ff;
    color: #FFF;
    border: thin solid #fff;
  }

  div.bottle {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
  }

  div.icon {
    max-width: 45vw;
    max-height: 100%;
  }
}
