<div class="slide-bottle-detail">
  
  <ion-fab center edge (click)="update()">
    <button ion-fab mini>
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>
  
  <!--<div class="index">{{getIndex()}}</div>-->
  
  <div>
    <div class="block" style="display:flex">
      <div class="icon">
        <img src="{{ bottle.label | bottleIcon }}">
      </div>
      <!--<h3 *ngIf="showName">{{bottle.nomCru}}</h3>-->
    </div>
    <div class="description">
      <ul class="circle">
        <li>{{bottle.label}}</li>
        <li>{{bottle.country_label}}, {{bottle.subregion_label}}, {{bottle.area_label}}</li>
        <li>{{bottle.classe_age }} ({{bottle.millesime}})</li>
        <li>{{ "quantite_courante" | translate }}: {{ bottle.quantite_courante }} sur {{bottle
          .quantite_achat}}
        </li>
      </ul>
    </div>
  </div>
  
  <h4>{{"details" | translate}}</h4>
  <div class="block">
    <ul class="circle">
      <li>{{ "date_achat" | translate }} {{ bottle.date_achat }}, {{ bottle.lieu_achat }}</li>
      <li>{{ "prix" | translate }} {{ bottle.prix }} € / {{ bottle.cote }} €</li>
      <li>{{ "garde" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }} / {{ bottle.garde_max }} {{ "ans"
        | translate }}
      </li>
      <li>{{ "garde_optimum" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }}</li>
    </ul>
  </div>
  
  <h4>{{"infos" | translate}}</h4>
  <div>
    <p *ngIf="!bottle.suggestion && ! bottle.comment">Aucune information complémentaire</p>
    <p *ngIf="bottle.suggestion">{{ "suggestion" | translate }}: {{bottle.suggestion}}</p>
    <p *ngIf="bottle.comment">{{ "comment" | translate }}: {{bottle.comment}}</p>
  </div>

</div>
