<!-- Generated template for the StatisticsComponent component -->
<div class="statistics">
  <ion-row>
    <ion-col col-12>
      <ion-title>{{totalNumberOfBottles}} bouteilles</ion-title>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <button *ngIf="!chartVisible" ion-button align-items-start round icon-only block (click)="generateCharts()">
      <ion-icon name="cloud-upload"></ion-icon>
      voir
    </button>
    <ion-col col-12>
      <h3>Par couleur</h3>
      <canvas #doughnutColors></canvas>
    </ion-col>
    <ion-col col-6>
      <h3>Par région</h3>
      <canvas #doughnutRegions></canvas>
    </ion-col>
  </ion-row>
  
</div>
