<ion-header class="mod-header dashboard-page">
  <ion-searchbar [placeholder]="Chercher" [autocomplete]="on" [autocorrect]="on" [animated]="true"
                 (search)="filterOnText($event)">
  </ion-searchbar>
  <div class="icon logout" (click)="logout()"></div>
</ion-header>

<ion-content align-items-center class="page dashboard-page">
  <responsive-wrapper>
    <ion-card class="card-background">
      <button ion-button outline small round icon-left (click)="showAll()" class="ripple">
        <cav-icon name="search"></cav-icon>
        {{'dashboard.see-all' | translate: {nb: totalNumberOfBottles} }}
      </button>
      
      <button ion-button outline small round icon-left (click)="showFavorites()" class="ripple">
        <cav-icon name="star" style="color: #FFC125"></cav-icon>
        {{'filter.favorite-only' | translate}}
      </button>
      
      <button ion-button outline small round icon-left (click)="showOverdue()" class="ripple">
        <cav-icon name="attention"></cav-icon>
        {{'filter.overdue-only' | translate}}
      </button>
      
      <!--<button ion-button outline small round (click)="showPopover()" *ngIf="popOverVisible$ | async">-->
      <button ion-button outline small round (click)="showPopover()" class="ripple">
        <cav-icon name="refresh" style="margin:7px"></cav-icon>
        Fréquentes
      </button>
      <!--<ion-segment-button></ion-segment-button>-->
    </ion-card>
    
    <ng-container *ngIf="withdrawals$ | async as withdrawals">
      <ion-card class="card-background recent-withdrawal" *ngIf="withdrawals.length > 0">
        <ion-scroll scrollY="true" [ngStyle]="withdrawalCardStyle">
          <ion-title>{{'record-output.recent-withdrawals'| translate}}</ion-title>
          <ion-list sliding="false">
            <withdrawal-item [withdrawal]="withdraw" (showDetail)="triggerNotation($event)"
                             *ngFor="let withdraw of withdrawals"></withdrawal-item>
          </ion-list>
        </ion-scroll>
      </ion-card>
    </ng-container>
    
    <ng-container *ngIf="bottles$ | async as bottles">
      <ion-card class="card-background by-label" *ngIf="bottles && bottles.length!=0">
        <ion-title>{{'statistics.repartition-par-type'| translate}}</ion-title>
        <statistics [bottles]="bottles" [type]="'bar'" [axis]="'label'" [topMost]="10" [legend]="'none'"
                    (filterApplied)="showFiltered($event)"></statistics>
      </ion-card>
      
      <ion-card class="card-background by-region" *ngIf="bottles && bottles.length!=0">
        <ion-title>{{'statistics.repartition-par-region'| translate}}</ion-title>
        <statistics [bottles]="bottles" [type]="'bar'" [axis]="'subregion_label'" [topMost]="7" [legend]="'none'"
                    (filterApplied)="showFiltered($event)"></statistics>
      </ion-card>
    </ng-container>
  </responsive-wrapper>
</ion-content>
