.cellar-page {

  div[left][bottom] {
    bottom: 65px;
    left: 10px;
    position: fixed;
    z-index: 999;
  }

  div.slide-zoom {
    height: 100%;
  }

  .ion-md-close:before {
    color: black;
  }

  ion-fab > button.pending-bottle {
    background-color: map-get($colors, light);
    border: thin solid black;
    margin-left: auto;

    img {
      height: 40px;
      width: 40px;
    }
  }
  //
  //ion-row {
  //  max-height: 80%;
  //  min-height: 20%;
  //}
  //
  //ion-scroll {
  //  height: 100%;
  //  width: 100%;
  //  white-space: nowrap;
  //}

  p.tip {
    background-color: map-get($colors, light);
    border: thin solid black;
    font-size: small;
    font-variant: all-small-caps;
  }

  span.title {
    display: flex;
  }
}
