<ion-header class="cellar-page">
  <ion-navbar>
    <ion-title>{{'lockers' | translate}} - {{scale}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="cellar-page">
  
  <ion-row>
    <ion-slides [pager]="false" (ionSlideDidChange)="slideChanged()" [spaceBetween]="5" [slidesPerView]="1">
      <ion-slide *ngFor="let locker of otherLockers" style="max-width: 90vw">
        <div style="width: 100%" #zoomable>
          <locker [locker]="locker" [content]="lockerContent" *ngIf="!locker.isFridge()"
                  [highlighted]="bottlesToHighlight" (onCellSelected)="cellSelected($event)"></locker>
          <fridge-locker [fridge]="locker" [content]="lockerContent" *ngIf="locker.isFridge()"
                         [highlighted]="bottlesToHighlight" (onCellSelected)="cellSelected($event)"></fridge-locker>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-row>
  
  <div *ngIf="bottlesToPlace" bottom left>
    <locker #placedLockerComponent [locker]="bottlesToPlaceLocker" [content]="bottlesToPlace"
            (onCellSelected)="cellSelected($event)"></locker>
  </div>
  
  <ion-fab bottom right>
    <button ion-fab>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="createLocker()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button ion-fab (click)="updateLocker()">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-fab (click)="deleteLocker()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>
  
  <ion-fab top right *ngIf="pendingCell">
    <button ion-fab class="pending-bottle" (click)="showTip()">
      <img src="{{ pendingCell.bottle.label | bottleIcon }}">
    </button>
    <ion-badge class="tip" *ngIf="pendingBottleTipVisible && pendingCell">{{pendingCell.bottle.nomCru}} -
      {{pendingCell.bottle.millesime}}
    </ion-badge>
    <ion-fab-list side="left">
      <button ion-fab style="border: thin solid black" (click)="withdraw()">
        <img src="assets/icon/tire-bouchon.png">
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
