div.bottle-icon {
  background-color: #e9e9e9;
  box-shadow: 5px 5px 3px #150c0c85;
  display: flex;
  flex-direction: row;
  height: 100%;

  div.bottle-markers {
    align-items: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    max-width: 40px;
    height: 100%;
    flex-grow: 0;
  }

  div.bottle-image {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 100%;

    div.icon {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;
      margin: 5px 5px 5px 0;
      width: 100%;
      height: 100%;
    }
  }
}
