<ion-header class="header">
  
  <ion-navbar>
    <ion-title (click)="save()">Update</ion-title>
  </ion-navbar>

</ion-header>

<ion-content scroll="true" class="page-update">
  <div class="update">
    <div>
      <div class="block" style="display:flex">
        <div class="icon">
          <img src="{{ bottle.label | bottleIcon }}">
        </div>
        <h5>{{bottle.nomCru}}</h5>
      
      </div>
      <div class="description">
        <ul class="circle">
          <li>{{bottle.label}}</li>
          <li>{{bottle.country_label}}, {{bottle.subregion_label}}, {{bottle.area_label}}</li>
          <li>{{bottle.classe_age }} ({{bottle.millesime}})</li>
          <li>{{ "quantite_courante" | translate }}: {{ bottle.quantite_courante }} sur {{bottle.quantite_achat}}
          </li>
        </ul>
      </div>
    </div>
    
    <h4>{{"details" | translate}}</h4>
    <div class="block">
      <ul class="circle">
        <li>{{ "date_achat" | translate }} {{ bottle.date_achat }}, {{ bottle.lieu_achat }}</li>
        <li>{{ "prix" | translate }} {{ bottle.prix }} € / {{ bottle.cote }} €</li>
        <li>{{ "garde" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }} / {{ bottle.garde_max }} {{ "ans"
          | translate }}
        </li>
        <li>{{ "garde_optimum" | translate }} {{ bottle.garde_min }} {{ "ans" | translate }}</li>
      </ul>
    </div>
    
    <h4>{{"infos" | translate}}</h4>
    <div>
      <p *ngIf="!bottle.suggestion && ! bottle.comment">Aucune information complémentaire</p>
      <p *ngIf="bottle.suggestion">{{ "suggestion" | translate }}: {{bottle.suggestion}}</p>
      <p *ngIf="bottle.comment">{{ "comment" | translate }}: {{bottle.comment}}</p>
    </div>
  
  </div>
  
  <input type="file" id="input" (change)="readBrowserFile($event)">
  <button ion-button align-items-start round icon-only block (click)="loadImage()">
    <ion-icon name="albums"></ion-icon>
  </button>
  <p>{{imgUrl}}</p>
  <img [src]="imgUrl" *ngIf="imgUrl">
  
  <button ion-button align-items-start round icon-only block (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </button>
  <ion-slides style="height: 50vh">
    <ion-slide *ngFor="let image of images">
      <ion-card>
        <img [src]="image.src"/>
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>
