<ion-header class="header">
  
  <ion-navbar>
    <ion-title (click)="save()">Update</ion-title>
  </ion-navbar>

</ion-header>

<ion-content scroll="true" class="page-update" padding-horizontal>
  
  <ion-row d-flex>
    <ion-col>
      <img src="{{ bottle.label | bottleIcon }}" *ngIf="! getProfileImage()">
      <img [src]="getProfileImage()" *ngIf="getProfileImage()">
    </ion-col>
    <ion-col style="margin-top: auto; margin-bottom: auto">
      <ion-item>
        <ion-label>{{'bottle.millesime' | translate}}</ion-label>
        <ion-datetime displayFormat="YYYY" [(ngModel)]="bottle.millesime" float-right></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label float-left>{{'bottle.quantite_courante' | translate}}</ion-label>
        <ion-input type="number" [(ngModel)]="bottle.quantite_courante" float-right></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row>
    <!--<ion-col showWhen="cordova" d-flex style="justify-content: space-between">-->
    <ion-col d-flex style="justify-content: space-between">
      <button ion-button round icon-only padding-vertical (click)="captureProfileImage()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button ion-button round icon-only padding-vertical (click)="chooseProfileImage()">
        <ion-icon name="folder"></ion-icon>
      </button>
      <button ion-button round icon-only padding-vertical (click)="removeProfileImage()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-col>
    
    <ion-col HideWhen="cordova">
      <input type="file" id="input" (change)="readBrowserFile($event)">
    </ion-col>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label float-left>{{'bottle.label' | translate}}</ion-label>
      <ion-select [(ngModel)]="bottle.label">
        <ion-option *ngFor="let colorPair of bottles.colors" [value]="colorPair.value">{{colorPair.value}}
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{'bottle.nomCru'| translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="bottle.nomCru"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{'bottle.country_label' | translate}}</ion-label>
      <ion-input type="text" [(ngModel)]="bottle.country_label"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{'bottle.subregion_label' | translate}}</ion-label>
      <ion-select [(ngModel)]="bottle.subregion_label" required (ionChange)="loadRegionAreas()">
        <ion-option *ngFor="let regionData of bottles.aocByArea" [value]="regionData.key">{{regionData
          .key}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{'bottle.area_label' | translate}}</ion-label>
      <ion-select [(ngModel)]="bottle.area_label" required *ngIf="aoc">
        <ion-option *ngFor="let data of aoc" [value]="data.area_label">
          <span>{{data.appellation}}
            <span *ngIf="data.subdivision">- [{{data.subdivision}}]</span>
          </span></ion-option>
      </ion-select>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{'bottle.quantite_achat' | translate}}</ion-label>
      <ion-input type="number" [(ngModel)]="bottle.quantite_achat"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <h4>{{'details' | translate}}</h4>
    <ion-item>
      <ion-label>{{ 'bottle.date_achat' | translate }}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="bottle.date_achat"></ion-datetime>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{ 'bottle.lieu_achat' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="bottle.lieu_achat"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{ 'bottle.prix' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="bottle.prix"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{ 'bottle.cote' | translate }}</ion-label>
      <ion-input type="text" [(ngModel)]="bottle.cote"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{ 'bottle.garde_min' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="bottle.garde_min"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{ 'bottle.garde_max' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="bottle.garde_max"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{ 'bottle.garde_optimum' | translate }}</ion-label>
      <ion-input type="number" [(ngModel)]="bottle.garde_optimum"></ion-input>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <h4>{{'infos' | translate}}</h4>
    
    <ion-item>
      <ion-label>{{ 'bottle.comment' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="bottle.comment"></ion-textarea>
    </ion-item>
  </ion-row>
  
  <ion-row>
    <ion-item>
      <ion-label>{{ 'bottle.suggestion' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="bottle.suggestion"></ion-textarea>
    </ion-item>
  </ion-row>
  
  <img [src]="imgUrl" *ngIf="imgUrl">
  <ion-slides style="height: 50vh">
    <ion-slide *ngFor="let image of images">
      <ion-card>
        <img [src]="image.src"/>
      </ion-card>
    </ion-slide>
  </ion-slides>
  
  <img #capture [src]="imgUrl" *ngIf="imgUrl">

</ion-content>
