.page-update {
  ion-item {
    justify-content: space-between;

    img {
      max-height: 220px;
      max-width: 45%;
    }

    .text-input {
      text-align: right;
    }

    & > ion-label {
      float: left;
    }

    & > ion-datetime, & > ion-imput, & > ion-select {
      float: right;
    }

    ion-select {
      max-width: 70%;
    }
  }

  textarea.text-input {
    resize: both;
    height: 220px;
  }
}
