<!--
  Generated template for the France component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.

  This components uses constants that must nbe declared in BottleService class (bottle.service.ts file)
-->
<div class="france-component flex-container">
  <div>
    <img src="assets/img/carte-vignobles.png" alt="" usemap="#Map"/>
    <map name="Map" id="Map">
      <area alt="Corse" (click)="chooseArea('corse')" title="Corse" href="#" shape="poly"
            coords="213,224,219,236,213,247,226,261,236,240,238,215"/>
      <area alt="Alsace" (click)="chooseArea('alsace')" title="Alsace" href="#" shape="poly"
            coords="218,61,205,68,197,82,207,96,221,100,231,93,231,78,226,67"/>
      <area alt="Champagne" (click)="chooseArea('champagne')" title="Champagne" href="#" shape="poly"
            coords="153,31,143,32,136,38,135,48,136,55,143,64,152,67,162,65,169,53,168,42,164,35"/>
      <area alt="Bourgogne" (click)="chooseArea('bourgogne')" title="bourgogne" href="#" shape="poly"
            coords="167,95,157,96,149,102,149,116,158,122,170,117,173,110,174,108"/>
      <area alt="Beaujolais" (click)="chooseArea('beaujolais')" title="Beaujolais" href="#" shape="poly"
            coords="158,124,152,131,150,139,156,146,164,147,173,141,175,133,174,127,167,123"/>
      <area alt="Vallée du Rhône" (click)="chooseArea('rhone')" title="rhone" href="#" shape="poly"
            coords="168,154,161,153,154,159,152,165,157,173,166,178,176,175,179,163"/>
      <area alt="Provence" (click)="chooseArea('provence')" title="Provence" href="#" shape="poly"
            coords="179,189,170,188,163,196,165,204,168,212,181,215,189,208,188,195"/>
      <area alt="Languedoc Roussillon" (click)="chooseArea('languedoc-roussillon')" title="Languedoc Roussillon"
            href="#"
            shape="poly"
            coords="143,184,133,187,127,195,127,206,129,215,137,222,146,221,154,215,161,204,157,190"/>
      <area alt="Sud-ouest" (click)="chooseArea('sud-ouest')" title="Sud-ouest" href="#" shape="poly"
            coords="92,185,82,187,76,198,83,212,100,209,103,196"/>
      <area alt="Bordeaux" (click)="chooseArea('bordeaux')" title="Bordeaux" href="#" shape="poly"
            coords="82,152,77,141,68,136,57,135,46,147,49,164,65,172,78,164"/>
      <area alt="Val de Loire" (click)="chooseArea('loire')" title="Loire" href="#" shape="poly"
            coords="123,81,84,66,64,73,62,89,72,103,91,99,100,96,124,87,125,83"/>
      <area alt="Cognac" (click)="chooseArea('cognac')" title="Cognac" href="#" shape="poly"
            coords="72,107,63,111,59,128,71,135,87,138,96,123,89,112"/>
      <area alt="Jura & Savoie" (click)="chooseArea('jura-savoie')" title="Jura & Savoie" href="#" shape="poly"
            coords="187,158,194,155,197,146,188,140,181,140,175,149,181,159,194,159"/>
    </map>
  </div>
  <div class="align-bottom-right">
    <ion-badge item-right (click)="chooseAll()">
      <ion-icon name="close" item-right></ion-icon>
    </ion-badge>
  </div>
</div>
