//@_import '../../theme/variables';

ion-header.home {
  background-color: #FFFFFF;
  border: thin solid map-get($colors, light);

  & > ion-title {
    text-align: center;
  }
}

ion-content.home {
  height: 90vh;

  div.login {
    background-image: url('../../assets/img/background/splash-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    padding-top: 10vh;
    width: 100%;
  }

  legend {
    color: map-get($colors, light);
    font-size: 2em;
    background: transparent;
  }

  button[badge] {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: map-get($colors, light);
    color: map-get($colors, primary);
    transition: transform 1s, scale .5s;

    &.clicked {
      transform: rotate(360deg) scale(1.2, 1.2);
    }
  }

  div[d-flex] {
    align-self: center;
    display: flex;
    justify-content: space-around;
  }
}
