//@_import '../../theme/variables';

firebase-ui .firebaseui-container.firebaseui-id-page-callback {
  background: transparent;
}

.webp {
  .login-block span {
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    overflow: visible;

    &.login-anonymous {
      background: url('../../assets/icon/anonymous-120.webp');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.no-webp {
  .login-block span {
    max-height: 30px;
    min-width: 30px;
    min-height: 30px;
    overflow: visible;

    &.login-anonymous {
      background: url('../../assets/icon/anonymous-120.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

ion-header.home {
  background-color: #FFFFFF;
  border: thin solid map-get($colors, light);

  & > ion-title {
    text-align: center;
  }
}

.webp ion-content.home div.login {
  background-image: url('../../assets/img/background/winecellar-gallery-2.webp');
  background-repeat: no-repeat;
  background-size: cover;
}

.no-webp ion-content.home div.login {
  background-image: url('../../assets/img/background/winecellar-gallery-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

ion-content.home div.login {
  height: 100vh;
  width: 100%;

  fieldset {
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    top: 30%;
  }
}

button[data-provider-id="anonymous"],button[data-provider-id="anonymous"]:hover {
  background-color: map-get($colors, light);

  > span.firebaseui-idp-text {
    color: #757575;
  }
}

div[d-flex] {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
