.locker-component {
  max-height: 40vh;
  min-height: 30vh;

  .locker {

    .container {
      background: url("../assets/img/background/tex-bois.jpeg");
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 1;
      padding: 5px;
    }

    .row {
      flex-wrap: nowrap;
    }

    .cell {
      background-color: rgba(245,245,220,20%);
      background-size: contain;
      min-height: 20px;
      min-width: 20px;
      border: thin solid darken(white, 20%);
      border-radius: 50% 50%;
      margin-left: 1px;
      margin-bottom: 1px;

      &.bubbles {
        background-image: url("../assets/img/cell-color/bubbles.png");
      }

      &.bubbles-rose {
        background-image: url("../assets/img/cell-color/bubbles-rose.png");
      }

      &.cognac {
        background-image: url("../assets/img/cell-color/cognac.png");
      }

      &.liquorous {
        background-image: url("../assets/img/cell-color/liquorous.png");
      }

      &.red {
        background-image: url("../assets/img/cell-color/red.png");
      }

      &.red-mutated {
        background-image: url("../assets/img/cell-color/red-mutated.png");
      }

      &.rose {
        background-image: url("../assets/img/cell-color/rose.png");
      }

      &.straw {
        background-image: url("../assets/img/cell-color/straw.png");
      }

      &.undefined {
        background-image: url("../assets/img/cell-color/undefined.png");
      }

      &.white {
        background-image: url("../assets/img/cell-color/white.png");
      }

      &.white-halfdry {
        background-image: url("../assets/img/cell-color/white-halfdry.png");
      }

      &.white-mutated {
        background-image: url("../assets/img/cell-color/white-mutated.png");
      }

      &.yellow {
        background-image: url("../assets/img/cell-color/yellow.png");
      }
    }
  }
}
