<!-- Generated template for the SimpleLockerComponent component -->
<div class="locker-component" [class.selected]="selected" #zoomable>
  <!--<span *ngIf="initialScale">{{initialScale | json}}</span>-->
  <div class="locker">
    <div class="container" [class.shifted]="isShifted()" [dimensionOf]="locker">
      <div class="row" *ngFor="let row of rows">
        <div *ngFor="let cell of row.cells">
          <div class="cell" [ngClass]="cell.cellClass" (click)="cellSelected(cell)"></div>
        </div>
      </div>
    </div>
  </div>
</div>
