<!--
  Generated template for the BottleItemComponent component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="bottle-item-component" (click)="triggerDetail($event)">
  <h4>{{bottle.nomCru}}</h4>
  <div class="bottle">
    <div class="icon">
      <img src="{{ bottle.label | bottleIcon }}">
      {{bottle.label}}
    </div>
    <div class="description">
      <p>{{bottle.country_label}} - {{bottle.subregion_label}} - {{bottle.area_label}}</p>
      <p>{{bottle.classe_age }}, {{bottle.millesime}}</p>
      <p>stock: {{bottle.quantite_courante}}</p>
    </div>
  </div>
</div>
