bottle-noting {

  h4 > span {
    margin-left: 7px;
  }

  div.note, div.comments, div.maturity {
    margin-top: 30px;
  }

  .comments {

  }

  .maturity {

  }

  rating {
    margin-top: 15px;
  }
}
