<div class="bottle-noting note">
  <rating [labels]="qualityLabels" [title]="'record-output.global-quality'" (rated)="setGlobalQuality($event)"></rating>
</div>

<div class="bottle-noting note">
  <rating [labels]="pleasurePriceLabels" [title]="'record-output.pleasure-price'"
          (rated)="setPleasurePrice($event)"></rating>
</div>

<div class="bottle-noting maturity">
  <h4>{{ 'record-output.maturity' | translate }}:<span *ngIf="maturityNote">{{maturityTexts[maturityNote]}}</span></h4>
  <ion-segment [(ngModel)]="maturityNote" color="secondary">
    <ion-segment-button *ngFor="let maturityLevel of maturityLabels;let ix=index" [value]="ix">
      {{maturityLabels[ix]}}
    </ion-segment-button>
  </ion-segment>
</div>

<ion-item class="bottle-noting comments">
  <ion-label>{{ 'record-output.comments' | translate }}</ion-label>
  <ion-textarea [(ngModel)]="comments" name="comments" class="form-control"></ion-textarea>
</ion-item>

<ion-item>
  <button ion-button (click)="submitRating()">Noter</button>
</ion-item>
