@import "../../../app/app.scss";

.cellar-page {

  ion-header {
    display: flex;
  }

  h1 {
    color: white;
  }

  div.nav-anchor {
    padding: 5px;

    & > ion-badge {
      margin-bottom: 2px;
      margin-right: 5px;
      padding: 2px 7px;
    }
  }

  ion-buttons {
    display: flex;
    justify-content: space-around;
  }

  ion-col.col {
    display: flex;
  }

  ion-card-content > div {
    flex-direction: column;
  }

  ion-card, ion-card-content {
    background: transparent;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
  }

  ion-card-content {
    height: 100%;
  }

  div[left][bottom] {
    bottom: 65px;
    left: 10px;
    position: fixed;
    z-index: 999;
  }

  img[icon-only] {
    position: absolute;
    right: 0;
    top: 2px;
    width: 35px;
    height: 35px;
    margin: 8px 8px 8px 0;
    align-self: center;
  }

  .ion-md-close:before {
    color: black;
  }

  ion-fab > button.pending-bottle {
    background-color: map-get($colors, light);
    border: thin solid black;
    margin-left: auto;

    img {
      height: 40px;
      width: 40px;
    }
  }

  p.tip {
    background-color: map-get($colors, light);
    border: thin solid black;
    font-size: small;
    font-variant: all-small-caps;
  }

  span.title {
    display: flex;
  }
}
